:root {
  --champagne: #f3edc4;
  --mimosa: #f4cc5f;
  --burgundy: #b40028;
  --taupe: #9b8775;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
  gap: 10px;
}

input, button {
  padding: 8px;
}
